stages:
- check
- prepare
- deploy
- release

black-lint:
  image: python:3.13
  stage: check
  script:
  - pip install black
  - black --check .

flake8-lint:
  image: python:3.13
  stage: check
  script:
  - pip install flake8 flake8-black
  - flake8 .

mypy-lint:
  image: python:3.13
  stage: check
  script:
  - pip install mypy
  - mypy . --install-types --non-interactive --ignore-missing-imports

radon-cc:
  image: python:3.13
  stage: check
  script:
  - pip install radon
  - radon cc .
  - 'radon cc . -j | grep -Eq "\"rank\": \"(C|D|F)\"" && exit 1 || exit 0'

radon-mi:
  image: python:3.13
  stage: check
  script:
  - pip install radon
  - radon mi .
  - 'radon mi . -j | grep -Eq "\"rank\": \"(B|C|D|F)\"" && exit 1 || exit 0'

pydocstyle:
  image: python:3.13
  stage: check
  script:
  - pip install pydocstyle
  - pydocstyle .

yamllint:
  image: python:3.13
  stage: check
  script:
  - pip install yamllint
  - yamllint .

hadolint:
  image: python:3.13
  stage: check
  script:
  - >
    wget --quiet --output-document=./hadolint
    https://github.com/hadolint/hadolint/releases/download/v2.6.0/hadolint-Linux-x86_64
  - chmod +x ./hadolint
  - ./hadolint Dockerfile

pytest-py311:
  image: python:3.11
  stage: check
  script:
  - pip install poetry
  - poetry install -E shell
  - >
    poetry run
    py.test
    --verbose
    --cov-report term-missing
    --cov-report xml
    --cov=.
    .
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: junit_coverage_report.xml

    paths:
    - .coverage
    - coverage.xml
    expire_in: 1 day

pytest-py312:
  image: python:3.12
  stage: check
  script:
  - pip install poetry
  - poetry install -E shell
  - >
    poetry run
    py.test
    --verbose
    --cov-report term-missing
    --cov-report xml
    --cov=.
    .
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: junit_coverage_report.xml

    paths:
    - .coverage
    - coverage.xml
    expire_in: 1 day

pytest-py313:
  image: python:3.13
  stage: check
  coverage: /^TOTAL.*\s+\d+\s+\d+\s+(\d+)%/
  script:
  - pip install poetry
  - poetry install -E shell
  - >
    poetry run
    py.test
    --verbose
    --cov-report term-missing
    --cov-report xml
    --cov=.
    .
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: junit_coverage_report.xml

    paths:
    - .coverage
    - coverage.xml
    expire_in: 1 day

docker-script:
  image: python:3.13
  stage: prepare
  script:
  - pip install toml
  - python ./image_builder.py --script=build-images.sh --push
  artifacts:
    paths:
    - build-images.sh
    expire_in: 1 day
  rules:
  - if: $CI_PROJECT_NAMESPACE == "rocket-boosters" && $CI_COMMIT_TAG

build-library:
  image: python:3.13
  stage: prepare
  script:
  - pip install poetry
  - poetry install -E shell
  - poetry run python docs_builder.py
  - poetry build
  artifacts:
    paths:
    - dist/
    expire_in: 90 days
  rules:
  - if: $CI_PROJECT_NAMESPACE == "rocket-boosters" && $CI_COMMIT_TAG

docker-build:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u "$DOCKER_HUB_USER" -p "$DOCKER_HUB_PASSWORD" docker.io
  - docker info
  script:
  - ./build-images.sh
  rules:
  - if: $CI_PROJECT_NAMESPACE == "rocket-boosters" && $CI_COMMIT_TAG

publish-library:
  image: python:3.13
  stage: release
  script:
  - pip install poetry
  - poetry publish -u "$PYPI_USER" -p "$PYPI_REVISER_PAT"
  rules:
  - if: $CI_PROJECT_NAMESPACE == "rocket-boosters" && $CI_COMMIT_TAG
