name: Release

on: # yamllint disable-line
  push:
    tags:
    - '*'

jobs:
  build-library:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.14'
    - name: Install poetry
      run: pip install poetry
    - name: Install dependencies
      run: poetry install -E shell
    - name: Build docs
      run: poetry run python docs_builder.py
    - name: Build package
      run: poetry build
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/
        retention-days: 90

  publish-library:
    runs-on: ubuntu-latest
    needs: build-library
    environment:
      name: pypi
      url: https://pypi.org/p/reviser
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.14'
    - name: Install poetry
      run: pip install poetry
    - name: Build package
      run: poetry build
    - name: Publish to PyPI
      env:
        POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
      run: poetry publish

  docker-script:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
    - name: Install toml
      run: pip install toml
    - name: Generate docker build scripts
      run: |
        python ./image_builder.py --script=build-311.sh --push --id=3.11
        python ./image_builder.py --script=build-312.sh --push --id=3.12
        python ./image_builder.py --script=build-313.sh --push --id=3.13
        python ./image_builder.py --script=build-314.sh --push --id=3.14
    - name: Upload build scripts
      uses: actions/upload-artifact@v4
      with:
        name: build-script-311
        path: build-311.sh
        retention-days: 1
    - name: Upload build scripts
      uses: actions/upload-artifact@v4
      with:
        name: build-script-312
        path: build-312.sh
        retention-days: 1
    - name: Upload build scripts
      uses: actions/upload-artifact@v4
      with:
        name: build-script-313
        path: build-313.sh
        retention-days: 1
    - name: Upload build scripts
      uses: actions/upload-artifact@v4
      with:
        name: build-script-314
        path: build-314.sh
        retention-days: 1

  docker-build:
    runs-on: ubuntu-latest
    needs: docker-script
    strategy:
      matrix:
        python-version: ['311', '312', '313']
        # TODO 2026-01-02 AWS Doesn't support the 3.14 runtime yet.
        # This library needs 3.14 wheels first:
        #   https://pypi.org/project/awslambdaric/
        # And the base images need to be built properly with that library:
        #   https://hub.docker.com/r/amazon/aws-lambda-python
        # When that support is available 314 can be added to the build matrix:
        # python-version: ['311', '312', '313', '314']
    steps:
    - uses: actions/checkout@v4
    - name: Download build script
      uses: actions/download-artifact@v4
      with:
        name: build-script-${{ matrix.python-version }}
    - name: Echo build script
      run: cat ./build-${{ matrix.python-version }}.sh
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}
    - name: Build and push Docker images
      run: |
        chmod +x ./build-${{ matrix.python-version }}.sh
        ./build-${{ matrix.python-version }}.sh
